{% extends "nm2-base.html" %}
{% load nm %}
{% load i18n %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">nm.debian.org login</h1>
  {% if not providers %}
    <p class="lead">
    {% blocktrans %}
      There does not seem to be a way to log into nm.debian.org at the moment
    {% endblocktrans %}
    </p>
  {% else %}
    <p class="lead">
    {% blocktrans %}
      You can log into nm.debian.org using any of thes methods below.
    {% endblocktrans %}
    </p>
    <hr class="my-4">
    {% for provider in providers %}
      <a class="btn btn-primary btn-lg" href="{{provider.get_authorization_url}}" role="button">
        {% if provider.icon %}
        <img style="vertical-align: text-top; height: 1em" class="mr-2" src="{{STATIC_URL}}{{provider.icon}}"></img>
        {% else %}
        <span class="mr-2 fa fa-sign-in"></span>
        {% endif %}
        {{provider.label}}
      </a>
    {% endfor %}
  {% endif %}
</div>

{% endblock %}
