{% extends "mia/nm2-base.html" %}
{% load i18n %}

{% block content %}

<h1>{% trans "Where Art Thou?" %}</h1>

<p>{% blocktrans with person_uid=person.ldap_fields.uid person_fullname=person.fullname %}This
sends out the last ping regarding the <tt>{{person_uid}}</tt> account of
<i>{{person_fullname}}</i>. The mail will contain links for becoming emeritus or
notifying that one is still active.{% endblocktrans %}</p>

<p>{% trans "It is possible to customize the email introduction in the text below." %}</p>

<form id="cancel" action="{{request.build_absolute_uri}}" method="POST">{% csrf_token %}
{{form.non_field_errors}}
<p>{{form.email.errors}}</p>
<p>{{form.email.label_tag}}<br>
{{form.email}}</p>
<button class="btn btn-primary" type="submit">{% trans "Send mail" %}</button>
</form>

{% endblock %}

