{% extends "process/nm2-base.html" %}
{% load i18n %}

{% block content %}

<h1>{{type_desc}}</h1>

{% include explain_template with edit=False %}

{% include "process/requirement_status_widget.html" %}

<h2>{% trans "Signed statements" %}</h2>

{% if "edit_statements" in visit_perms %}
  {% if process.applying_for != "dd_e" and process.applying_for != "dd_r" %}
  <p><b><a id="statement_add" href="{% url 'process_statement_create' pk=process.pk type=requirement.type %}">{% trans "Click here to advocate" %} {{person}}</a></b></p>
  {% endif %}
{% endif %}

{% include "process/statement_table_widget.html" %}

<h2>{% trans "Log" %}</h2>

{% include "process/log_widget.html" with entries=requirement.log.all %}

{% endblock %}
