{% extends "mia/nm2-base.html" %}
{% load i18n %}
{% load nm %}

{% block head %}
{{block.super}}
<script type="text/javascript">
(function($) {
"use strict";

function main()
{
    $("#fd").DataTable({
        paging: false,
        order: [],
        columns: [null, {
            render: (data, type, row, meta) => {
              if (type == "sort")
                  return $(data).attr("datetime");
              return data;
            },
        }, {
            render: (data, type, row, meta) => {
              if (type == "sort")
                  return $(data).attr("datetime");
              return data;
            },
        }],
    });

    $("#am").DataTable({
        paging: false,
        order: [],
        columns: [null, {
            render: (data, type, row, meta) => {
              if (type == "sort")
                  return $(data).attr("datetime");
              return data;
            },
        }, {
            render: (data, type, row, meta) => {
              if (type == "sort")
                  return $(data).attr("datetime");
              return data;
            },
        }, null],
    });
}

document.addEventListener("DOMContentLoaded", evt => { main(); });

})(jQuery);
</script>
{% endblock %}

{% block content %}

<h1>FD and AM MIA report</h1>

<p class="lead">
{% blocktrans %}
This page lists Front Desk members and Application Managers with each person's
last visible activity.
{% endblocktrans %}
</p>

<h2>FD members</h2>

<table id="fd" class="table table-sm">
<thead>
    <tr>
        <th>Person</th>
        <th>Last activity</th>
        <th>Time since last activity</th>
    </tr>
</thead>
<tbody>
    {% for person, date in fd %}
    <tr>
      <td>{{person.a_link}}</a></td>
      <td>
        <time datetime="{{date|date:'c'}}">{{date|date:'Y-m-d'}}</time>
      </td>
      <td>
        <time datetime="{{date|date:'c'}}">{{date|timesince}}</time>
      </td>
    </tr>
    {% endfor %}
</tbody>
</table>


<h2>Application managers</h2>

<table id="am" class="table table-sm">
<thead>
    <tr>
        <th>Person</th>
        <th>Last activity</th>
        <th>Time since last activity</th>
        <th>AM slots</th>
    </tr>
</thead>
<tbody>
    {% for person, date in am %}
    <tr>
      <td>{{person.a_link}}</a></td>
      <td>
        <time datetime="{{date|date:'c'}}">{{date|date:'Y-m-d'}}</time>
      </td>
      <td>
        <time datetime="{{date|date:'c'}}">{{date|timesince}}</time>
      </td>
      <td>
        <a href="{% url 'person_amprofile' key=person.lookup_key %}">{{person.am.slots}}</a>
      </td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}

