{% extends "mia/nm2-base.html" %}
{% load nm %}

{% block head %}
{{block.super}}
<script type="text/javascript">
(function($) {
"use strict";

function main()
{
    let table = $("#votes").DataTable({
        paging: false,
        order: [],
        columns: [null, null, {
            render: (data, type, row, meta) => {
              if (type == "sort")
                  return $(data).attr("datetime");
              return data;
            },
        }],
    });
}

document.addEventListener("DOMContentLoaded", evt => { main(); });

})(jQuery);
</script>
{% endblock %}

{% block content %}

<h1>Last votes</h1>

<div id="intro">
  <form action="" method="GET">
    <p>
This is a list of all the {{people|length}} Debian Developers
whose last vote according to
<a href="https://contributors.debian.org/source/vote.debian.org">contributors.debian.org</a>
happened more than <input type="number" name="days" value="{{days}}"> days ago.
<button class="btn btn-primary btn-sm" type="submit">Update</button>
    </p>
  </form>
</div>

<table id="votes" class="table table-sm">
<thead>
    <tr>
        <th>Person</th>
        <th>Uid</th>
        <th>Last vote</th>
    </tr>
</thead>
<tbody>
    {% for person in people %}
    <tr>
      <td><a href="{{person.get_ddpo_url}}">{{person.fullname}}</a></td>
      <td>{{person.a_link}}</td>
      <td><time datetime="{{person.last_vote|date:'c'}}">{{person.last_vote|default:"never"}}</time></td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}

